@{
    ViewData["Title"] = "ConfirmEmail";
}

<main>
    <div class="container" style="text-align: center; margin-top: 3rem;padding: 3rem 0;">
        <div class="alert alert-success" role="alert">
            Please check your email for register confirmation
        </div>
    </div>
</main>
