@model ForgotPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/forgetPassword.css">
}

<main>
    <section id="forget-form">
        <div class="container shadow">
            <div class="forgot-content">
                <div class="forgot">
                    <h2>Forgot Password</h2>
                </div>
                <form method="post" asp-controller="Account" asp-action="ForgotPassword">
                    <div class="label">
                        <label for="">Email *</label>
                    </div>
                    <div class="input">
                        <input asp-for="Email" type="email">
                    </div>
                    <span asp-validation-for="Email" action="text-danger"></span>
                    <div class="send-button">
                        <button type="submit">Send</button>
                    </div>
                </form>
              
            </div>
        </div>
    </section>
</main>

