
@{
    ViewData["Title"] = "ForgetPassword";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/forgetPassword.css">
}

<main>
    <section id="forget-form">
        <div class="container shadow">
            <div class="forgot-content">
                <div class="forgot">
                    <h2>Forgot Password</h2>
                </div>
                <div class="label">
                    <label for="">Email *</label>
                </div>
                <div class="input">
                    <input type="email">
                </div>
                <div class="send-button">
                    <button>Send</button>
                </div>
            </div>
        </div>
    </section>
</main>

