@model LoginVM
@{
    ViewData["Title"] = "Login";
}
@section css {
    <link rel="stylesheet" href="~/assets/css/account.css">
}
<section id="login-register">
    <div data-id="1" class="login-form box">
        <div class="container">
            <div class="head">
                <h1>Login</h1>
                <p>Please enter your e-mail and password:</p>
            </div>
            <div class="form">
                <div style="color:red" ; asp-validation-summary="All"></div>
                <form method="post" asp-controller="Account" asp-action="Login">
                    <div class="input">
                        <span>Email</span>
                        <input asp-for="Email">
                    </div>
                    <span style="color:red; margin-bottom:20px" asp-validation-for="Email"></span>
                    <div class="input">
                        <span>Password</span>
                        <input asp-for="Password">
                    </div>
                    <span style="color:red; margin-bottom:20px" asp-validation-for="Password"></span>
                    <a asp-action="ForgotPassword">Forgot your password?</a>
                    <button type="submit">Login</button>
                </form>
              
            </div>
            <div class="link d-flex">
                <h5>New customer?</h5>
                <a data-id="2" asp-action="Register">Register</a>
            </div>
        </div>
    </div>
   

</section>
@section script{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/assets/js/account.js"></script>
}

