
@{
    ViewData["Title"] = "Login";
}
@section css {
    <link rel="stylesheet" href="~/assets/css/account.css">
}
<section id="login-register">
    <div data-id="1" class="login-form box">
        <div class="container">
            <div class="head">
                <h1>Login</h1>
                <p>Please enter your e-mail and password:</p>
            </div>
            <div class="form">
                <div class="input">
                    <span>Email</span>
                    <input type="text">
                </div>
                <div class="input">
                    <span>Password</span>
                    <input type="text">
                </div>
                <a href="">Forgot your password?</a>
                <button>Login</button>
            </div>
            <div class="link d-flex">
                <h5>New customer?</h5>
                <a data-id="2" href="#">Register</a>
            </div>
        </div>
    </div>
   

</section>

