@model ResetPasswordVM
@{
	ViewData["Title"] = "ResetPassword";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/forgetPassword.css">
}

<main>
    <section id="forget-form">
        <div class="container shadow">
            <div class="forgot-content">
                <div class="forgot">
                    <h2>Forgot Password</h2>
                </div>
                <form method="post" asp-controller="Account" asp-action="ResetPassword">
                    <div class="label">
                        <label for="">Password *</label>
                    </div>
                    <div class="input">
                        <input asp-for="Password" type="password">
                    </div>
                    <div class="label">
                        <label for="">Confirm Password *</label>
                    </div>
                    <div class="input">
                        <input asp-for="ConfirmPassword" type="password">
                    </div>

                    <span asp-validation-for="ConfirmPassword" action="text-danger"></span>

                    <input type="hidden" asp-for="Token" value="@Model.Token" />
                    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                    <div class="send-button">
                        <button type="submit">Send</button>
                    </div>
                </form>

            </div>
        </div>
    </section>
</main>