@{
    ViewData["Title"] = "VerifyResetPassword";
}

<main>
    <div class="container" style="margin-top: 100px; margin-bottom:100px">
        <div class="alert alert-success" role="alert">
            Please check your email for reset password!
        </div>
    </div>
</main>