@model ContactContent
@{
    ViewData["Title"] = "Index";
}
@section css {
    <link rel="stylesheet" href="~/assets/css/contact.css">
}
<main>
    <section id="contact-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 col-lg-6">
                    <div class="img">
                        <img src="~/assets/img/@Model.Image" alt="">
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="text">
                        <h2>@Model.Head</h2>
                        <h1>@Model.Text</h1>
                        <h6>@Model.Info</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact-form">
        <div class="container">
            <div class="content">
                <h1>Got Any Questions?</h1>
                <h6>Use the form below to get in touch with the sales team</h6>
                <div class="inputs-top">
                    <div class="input">
                        <h4>Your name *</h4>
                        <input class="inputs" type="text" name="" id="">
                    </div>
                    <div class="input">
                        <h4>Your email *</h4>
                        <input class="inputs" type="text" name="" id="">
                    </div>
                </div>
                <div class="input">
                    <h4>Subject *</h4>
                    <input class="inputs" type="text" name="" id="">
                </div>
                <div class="input">
                    <h4>Your message *</h4>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="button text-center">
                    <button>Send Message</button>

                </div>
            </div>

        </div>
    </section>
</main>

