
@{
    ViewData["Title"] = "Index";
}
@section css {
    <link rel="stylesheet" href="~/assets/css/cart.css">
}
<main>

    <section id="cart">
        <div class="container">
            <div class="empty-cart d-none">
                <h1>Your Cart</h1>
                <p>No products in the cart.</p>
                <hr>
                <a href="shop.html">Continue shopping</a>
            </div>
            <div class="full-cart">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>
                                <img src="~/assets/img/product/product1-1.webp" alt="">

                            </td>
                            <td>
                                <span>SkinCare crem</span>
                                <a href="">Remove</a>
                            </td>

                            <td><span>$39</span></td>
                            <td>
                                <i class="fa-solid fa-minus"></i>
                                <span class="count">100</span>
                                <i class="fa-solid fa-plus"></i>
                            </td>
                            <td><span>$39</span></td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </section>

    <section id="products">

        <div class="head">
            <h1>You May Also Like</h1>
        </div>
        <div class="slider-products">
            <div class="slider-for">
            </div>
            <div class="slider-nav" data-slick='{"slidesToShow": 5, "slidesToScroll": 3}'>
                <div class="col-sm-4">
                    <div class="product">
                        <a href="productDetail.html">
                            <img src="./assets/img/product/product1-1.webp" alt="Slide 1">
                            <img class="d-none hover-img" src="./assets/img/product/product1-2.webp" alt="Slide 1">
                        </a>
                        <div class="d-none icons">
                            <i class="fa-regular fa-heart heart-icon"></i>
                            <i class="d-none fa-solid fa-heart "></i>
                            <i class="fa-regular fa-eye"></i>
                            <i class="fa-solid fa-bag-shopping basket-icon"></i>
                        </div>
                        <div class="text">
                            <h6>category</h6>
                            <a href="">
                                <h4>Super Bounce</h4>
                            </a>
                            <span>$29.90</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product">
                        <a href="productDetail.html">
                            <img src="./assets/img/product/product2-1.webp" alt="Slide 2">
                            <img class="d-none hover-img" src="./assets/img/product/product2-2.webp" alt="Slide 2">
                        </a>
                        <div class="d-none icons">
                            <i class="fa-regular fa-heart heart-icon"></i>
                            <i class="d-none fa-solid fa-heart "></i>
                            <i class="fa-regular fa-eye"></i>
                            <i class="fa-solid fa-bag-shopping basket-icon"></i>
                        </div>
                        <div class="text">
                            <h6>category</h6>
                            <a href="productDetail.html">
                                <h4>Super Bounce</h4>
                            </a>
                            <span>$29.90</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product">
                        <a href="productDetail.html">
                            <img src="./assets/img/product/product3-1.webp" alt="Slide 3">
                            <img class="d-none hover-img" src="./assets/img/product/product3-2.jpg" alt="Slide 3">
                        </a>
                        <div class="d-none icons">
                            <i class="fa-regular fa-heart heart-icon"></i>
                            <i class="d-none fa-solid fa-heart "></i>
                            <i class="fa-regular fa-eye"></i>
                            <i class="fa-solid fa-bag-shopping basket-icon"></i>
                        </div>
                        <div class="text">
                            <h6>category</h6>
                            <a href="productDetail.html">
                                <h4>Super Bounce</h4>
                            </a>
                            <span>$29.90</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product">
                        <a href="productDetail.html">
                            <img src="./assets/img/product/product4-1.webp" alt="Slide 4">
                            <img class="d-none hover-img" src="./assets/img/product/product4-2.webp" alt="Slide 4">
                        </a>
                        <div class="d-none icons">
                            <i class="fa-regular fa-heart heart-icon"></i>
                            <i class="d-none fa-solid fa-heart "></i>
                            <i class="fa-regular fa-eye"></i>
                            <i class="fa-solid fa-bag-shopping basket-icon"></i>
                        </div>
                        <div class="text">
                            <h6>category</h6>
                            <a href="productDetail.html">
                                <h4>Super Bounce</h4>
                            </a>
                            <span>$29.90</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product">
                        <a href="productDetail.html">
                            <img src="./assets/img/product/product5-1.webp" alt="Slide 5">
                            <img class="d-none hover-img" src="./assets/img/product/product5-2.webp" alt="Slide 5">
                        </a>
                        <div class="d-none icons">
                            <i class="fa-regular fa-heart heart-icon"></i>
                            <i class="d-none fa-solid fa-heart "></i>
                            <i class="fa-regular fa-eye"></i>
                            <i class="fa-solid fa-bag-shopping basket-icon"></i>
                        </div>
                        <div class="text">
                            <h6>category</h6>
                            <a href="productDetail.html">
                                <h4>Super Bounce</h4>
                            </a>
                            <span>$29.90</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product">
                        <a href="productDetail.html">
                            <img src="./assets/img/product/product6-1.webp" alt="Slide 6">
                            <img class="d-none hover-img" src="./assets/img/product/product6-2.webp" alt="Slide 6">
                        </a>
                        <div class="d-none icons">
                            <i class="fa-regular fa-heart heart-icon"></i>
                            <i class="d-none fa-solid fa-heart "></i>
                            <i class="fa-regular fa-eye"></i>
                            <i class="fa-solid fa-bag-shopping basket-icon"></i>
                        </div>
                        <div class="text">
                            <h6>category</h6>
                            <a href="productDetail.html">
                                <h4>Super Bounce</h4>
                            </a>
                            <span>$29.90</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product">
                        <a href="productDetail.html">
                            <img src="./assets/img/product/product7-1.webp" alt="Slide 7">
                            <img class="d-none hover-img" src="./assets/img/product/product7-2.webp" alt="Slide 7">
                        </a>
                        <div class="d-none icons">
                            <i class="fa-regular fa-heart heart-icon"></i>
                            <i class="d-none fa-solid fa-heart "></i>
                            <i class="fa-regular fa-eye"></i>
                            <i class="fa-solid fa-bag-shopping"></i>
                        </div>
                        <div class="text">
                            <h6>category</h6>
                            <a href="productDetail.html">
                                <h4>Super Bounce</h4>
                            </a>
                            <span>$29.90</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product">
                        <a href="productDetail.html">
                            <img src="./assets/img/product/product8-1.webp" alt="Slide 8">
                            <img class="d-none hover-img" src="./assets/img/product/product8-2.webp" alt="Slide 8">
                        </a>
                        <div class="d-none icons">
                            <i class="fa-regular fa-heart heart-icon"></i>
                            <i class="d-none fa-solid fa-heart "></i>
                            <i class="fa-regular fa-eye"></i>
                            <i class="fa-solid fa-bag-shopping"></i>
                        </div>
                        <div class="text">
                            <h6>category</h6>
                            <a href="productDetail.html">
                                <h4>Super Bounce</h4>
                            </a>
                            <span>$29.90</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="mobile-products">
            <div class="slider-nav" data-slick='{"slidesToShow": 2, "slidesToScroll": 1}'>

                <div class="product">
                    <a href="productDetail.html">
                        <img src="./assets/img/product/product1-1.webp" alt="Slide 1">
                    </a>
                    <div class="icons">
                        <i class="fa-regular fa-heart heart-icon"></i>
                        <i class="d-none fa-solid fa-heart "></i>
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-solid fa-bag-shopping basket-icon"></i>
                    </div>
                    <div class="text">
                        <h6>category</h6>
                        <a href="">
                            <h4>Super Bounce</h4>
                        </a>
                        <span>$29.90</span>
                    </div>
                </div>
                <div class="product">
                    <a href="productDetail.html">
                        <img src="./assets/img/product/product2-1.webp" alt="Slide 2">
                    </a>
                    <div class="icons">
                        <i class="fa-regular fa-heart heart-icon"></i>
                        <i class="d-none fa-solid fa-heart "></i>
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-solid fa-bag-shopping basket-icon"></i>
                    </div>
                    <div class="text">
                        <h6>category</h6>
                        <a href="productDetail.html">
                            <h4>Super Bounce</h4>
                        </a>
                        <span>$29.90</span>
                    </div>
                </div>
                <div class="product">
                    <a href="productDetail.html">
                        <img src="./assets/img/product/product3-1.webp" alt="Slide 3">
                    </a>
                    <div class="icons">
                        <i class="fa-regular fa-heart heart-icon"></i>
                        <i class="d-none fa-solid fa-heart "></i>
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-solid fa-bag-shopping basket-icon"></i>
                    </div>
                    <div class="text">
                        <h6>category</h6>
                        <a href="productDetail.html">
                            <h4>Super Bounce</h4>
                        </a>
                        <span>$29.90</span>
                    </div>
                </div>
                <div class="product">
                    <a href="productDetail.html">
                        <img src="./assets/img/product/product4-1.webp" alt="Slide 4">
                    </a>
                    <div class="icons">
                        <i class="fa-regular fa-heart heart-icon"></i>
                        <i class="d-none fa-solid fa-heart "></i>
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-solid fa-bag-shopping basket-icon"></i>
                    </div>
                    <div class="text">
                        <h6>category</h6>
                        <a href="productDetail.html">
                            <h4>Super Bounce</h4>
                        </a>
                        <span>$29.90</span>
                    </div>
                </div>
                <div class="product">
                    <a href="productDetail.html">
                        <img src="./assets/img/product/product5-1.webp" alt="Slide 5">
                    </a>
                    <div class="icons">
                        <i class="fa-regular fa-heart heart-icon"></i>
                        <i class="d-none fa-solid fa-heart "></i>
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-solid fa-bag-shopping basket-icon"></i>
                    </div>
                    <div class="text">
                        <h6>category</h6>
                        <a href="productDetail.html">
                            <h4>Super Bounce</h4>
                        </a>
                        <span>$29.90</span>
                    </div>
                </div>
                <div class="product">
                    <a href="productDetail.html">
                        <img src="./assets/img/product/product6-1.webp" alt="Slide 6">
                    </a>
                    <div class="icons">
                        <i class="fa-regular fa-heart heart-icon"></i>
                        <i class="d-none fa-solid fa-heart "></i>
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-solid fa-bag-shopping basket-icon"></i>
                    </div>
                    <div class="text">
                        <h6>category</h6>
                        <a href="productDetail.html">
                            <h4>Super Bounce</h4>
                        </a>
                        <span>$29.90</span>
                    </div>
                </div>
            </div>



        </div>

    </section>

    <div class="overlay"></div>

    <div class="modals d-none">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-7">
                    <div class="img">
                        <img src="./assets/img/product/product1-1.webp" alt="">
                    </div>
                </div>
                <div class="col-sm-12 col-lg-5">
                    <div class="text">
                        <h1>Super Pure</h1>
                        <span>$29.00</span>
                        <hr>
                        <p>Glossier Super Bounce, Super Bounce, serum, hydrating serum, hyaluronic acid serum, pro-vitamin b5 serum, hyaluronic...</p>
                        <a href="#">
                            <div class="add wishlist">
                                <i class="fa-regular fa-heart"></i>
                                <h6>Add To Wishlist</h6>
                            </div>
                        </a>
                        <a href="#">
                            <div class="goto wishlist d-none">
                                <i class="fa-solid fa-heart"></i>
                                <h6>Go To Wishlist</h6>
                            </div>
                        </a>

                        <a href="">Add to Cart</a>
                        <hr>
                        <div class="info">
                            <h1>Type:<span>Skincare</span></h1>
                            <h1>Sku:<span>CLE-000-00-00</span></h1>
                            <a href="productDetail.html">View Details</a>

                        </div>




                    </div>
                </div>
            </div>
        </div>
        <i class="fa-solid fa-xmark close"></i>
    </div>
</main>
@section script{
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/home.js"></script>

}

