@model BrandCreateVM
@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">

        <div class="form-group my-3">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" type="text" class="form-control ">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            <label asp-for="Photo">Image</label>
            <input asp-for="Photo" class="form-control my-3">
            <span class="text-danger" asp-validation-for="Photo"></span>
        </div>
        <div class="form-group">
            <h5>Choose Categories</h5>
            @for (int i = 0; i < Model.Categories.Count(); i++)
            {
                <input asp-for="Categories[i].Value" type="hidden" class="form-control">
                <input asp-for="Categories[i].Selected" /> @Model.Categories[i].Text

            }

        </div>
        <button type="submit" class="btn btn-primary mr-4">Submit</button>
        <a class="btn btn-dark" asp-action="Index">Back</a>
    </form>
</div>
