
@{
    ViewData["Title"] = "Detail";
}
@section css {
    <link rel="stylesheet" href="~/assets/css/blogDetail.css">
}

<main>
    <section id="banner">
        <div class="content" style="background-image: url(/assets/img/blog1.webp);">
            <div class="text">
                <h1 style="opacity: 1;">Relax, it's bath time. 7 bath relaxation products</h1>
                <h5><i class="fa-regular fa-calendar"></i>Mar 12 2023</h5>
            </div>
        </div>

    </section>

    <section id="blog">
        <div class="container">
            <div class="text">
                <p>
                    We get it. The. Struggle. Is. Real. You have to battle a lot, but your skincare shouldn’t be one
                    of them. Finesse your #nofilter face in five easy steps with a little help from our favorite
                    products.
                </p>
                <p>
                    First things first, wash your face! Cleansing your skin removes dirt, excess oil, and
                    makeup—especially in those areas with extra buildup like the nose, chin, and forehead. Using a
                    cleanser as directed (sometimes on a wet or dry face), take a couple of minutes to massage it
                    into the skin, avoiding direct contact with the eye area. Then rinse away with warm water or
                    spread a washcloth soaked in warm water, or these Jenny Patinkin Organic Bamboo Reusable Rounds,
                    over your face to remove. Wondering where to start? Take a look at these bad boys below…
                </p>
            </div>
        </div>
    </section>
</main>

