@model BlogVM
@{
    ViewData["Title"] = "Detail";
}
@section css {
    <link rel="stylesheet" href="~/assets/css/blogDetail.css">
}

<main>
    <section id="banner">
        <div class="content" style="background-image: url(/assets/img/@Model.Image);">
            <div class="text">
                <h1 style="opacity: 1;">@Model.Name</h1>
                <h5><i class="fa-regular fa-calendar"></i>@Model.CreatedDate.ToString("dd/MM/yyyy")</h5>
            </div>
        </div>

    </section>

    <section id="blog">
        <div class="container">
            <div class="text">
                <p>
                    @Model.Head
                </p>
                <p>
                    @Model.Text
                </p>
            </div>
        </div>
    </section>
</main>

@section script {
    <script src="~/assets/slick-1.8.1/slick/slick.min.js"></script> 
    <script src="~/assets/slick-1.8.1/slick/slick.js"></script>
}

