
@{
    ViewData["Title"] = "Index";
}
@section css {
    <link rel="stylesheet" href="~/assets/css/blog.css">
}
<main>
    <section id="blogs-all">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-9">
                    <div class="blog-left">
                        <div class="blog-item">
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="img">
                                        <a href="blogDetail.html"><img src="./assets/img/blog1.webp" alt=""></a>

                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="text">
                                        <a href="">Relax, it's bath time. 7 bath relaxation products</a>
                                        <hr>
                                        <p>
                                            Nobody ever said, “I wish I hadn’t taken that bath.” In fact, the bathtub
                                            has become
                                            such a destination point...
                                        </p>
                                        <a href="blogDetail.html">More Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-item">
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="img">
                                        <a href=""><img src="./assets/img/blog2.webp" alt=""></a>

                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="text">
                                        <a href="blogDetail.html">Relax, it's bath time. 7 bath relaxation products</a>
                                        <hr>
                                        <p>
                                            Nobody ever said, “I wish I hadn’t taken that bath.” In fact, the bathtub
                                            has become
                                            such a destination point...
                                        </p>
                                        <a href="blogDetail.html">More Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-item">
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="img">
                                        <a href="blogDetail.html"><img src="./assets/img/blog3.webp" alt=""></a>

                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="text">
                                        <a href="">Relax, it's bath time. 7 bath relaxation products</a>
                                        <hr>
                                        <p>
                                            Nobody ever said, “I wish I hadn’t taken that bath.” In fact, the bathtub
                                            has become
                                            such a destination point...
                                        </p>
                                        <a href="blogDetail.html">More Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-sm-12 col-lg-3">
                    <div class="blog-right">
                        <div class="posts">
                            <h3>Popular Posts</h3>
                            <hr>
                            <div class="item">
                                <div class="image">
                                    <img src="./assets/img/blog1.webp" alt="">
                                </div>
                                <div class="text">
                                    <a href="">April 25, 2022</a>
                                    <a href="">New Finds From Tuckernuck</a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="./assets/img/blog2.webp" alt="">
                                </div>
                                <div class="text">
                                    <a href="">April 25, 2022</a>
                                    <a href="">The Best Products That Shape Fashion</a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="./assets/img/blog3.webp" alt="">
                                </div>
                                <div class="text">
                                    <a href="">April 25, 2022</a>
                                    <a href="">Sunset Sets From Saks</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>

